<figure id="addIssueFigure" class='notHome'>
	<form id="addForm">
	<p><strong>Title:</strong><br /><input type="text" name="title" placeholder="title" /></p>
	<p><strong>Location:</strong><br /><input type="text" name="location" placeholder="postcode" /></p>
     <p><strong>Description:</strong><br /><textarea rows="4" cols="50" name="description"></textarea>
         
         
<!--         <span class="textarea" name="description" role="textbox" contenteditable></span></p> -->
        
        <p><strong>Image (optional):</strong><br /> <input class="imageSelect" type="file" id="img" name="img" accept="image/*">
	<p><button type="submit" id="addIssue">Confirm</button></p>
</form>
</figure>