
    <div class='issues'>
    <figure id='issue0' class = 'issueList' hidden>
        <h2 id = 'title'></h2>
        <p id = 'description'></p>
        <p id = 'status'></p>
    
    </figure>
    
    <figure id='issue1' class = 'issueList' hidden>
        <h2 id = 'title'></h2>
        <p id = 'description'></p>
        <p id = 'status'></p>
    
    </figure>
    
    <figure id='issue2' class = 'issueList' hidden>
        <h2 id = 'title'></h2>
        <p id = 'description'></p>
        <p id = 'status'></p>
    </figure>
    
    <figure id='issue3' class = 'issueList' hidden>
        <h2 id = 'title'></h2>
        <p id = 'description'></p>
        <p id = 'status'></p>
    
    </figure>
    
    <figure id='issue4' class = 'issueList' hidden>
        <h2 id = 'title'></h2>
        <p id = 'description'></p>
        <p id = 'status'></p>
    
    </figure>

    <figure id='issue5' class = 'issueList' hidden>
        <h2 id = 'title'></h2>
        <p id = 'description'></p>
        <p id = 'status'></p>
    
    </figure>
    
    </div>
    
    <div class='topTen'>
    
        <button type="button" id='councilButton' hidden>View issues closest to you</button>
        
        <h2>Top 10 users</h2>
        <ol id='topTenList'>

        </ol>
    
    
    </div>
    

