<figure>
<form id="loginForm">
	<p><label for="user">Username</label><br /><input type="text" name="user" placeholder="email address" /></p>
	<p><label for="pass">Password</label><br /><input type="password" name="pass" placeholder="password" /></p>
	<p><button type="submit" id="login">Log in</button></p>
</form>

<form id="registerForm" hidden>
    <p><label for="user">Username</label><br /><input type="text" name="user" placeholder="email address" /></p>
	<p><label for="email">Email</label><br /><input type="text" name="email" placeholder="email address" /></p>
	<p><label for="pass">Password</label><br /><input type="password" name="pass" placeholder="password" /></p>
	<p><button type="submit" id="register">Register</button></p>
</form>
    
<p1 id="switchText"> Need to register?</p1>
<button type="submit" id="switch">Register</button>

</figure>